<nav class="navbar navbar-expand-md navbar-light custom-top-navbar">
    <span class="navbar-brand text-primary text-center">Corp</span>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="#" class="nav-link">About US <span class="sr-only">Current</span></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Register</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Login</a>
            </li>
        </ul>
    </div> -->
</nav>